<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 240.78 31">
    <defs>
        <style>
            .cls-1 {
                fill: #f57c00;
            }

            .cls-2{
                fill: #fff;
            }
        </style>
    </defs>
    <title>AddNewSurveyQuestionsIcon</title>
    <g id="Layer_2" data-name="Layer 2">
        <g id="Survey_3" data-name="Survey 3">
            <circle class="cls-1" cx="15.5" cy="15.5" r="15"/>
            <rect class="cls-2" x="8.2" y="14.62" width="14.59" height="1.77"/>
            <rect class="cls-2" x="8.25" y="14.61" width="14.49" height="1.78" transform="translate(0 31) rotate(-90)"/>
        </g>
    </g>
</svg>
