/*-------------------------------------------*/
/*
* Defined variables
*
*/
@font-face {
    font-family: "San Francisco Display Bold";
    src: url("../fonts/sanfranciscodisplay-bold.woff");
}

@font-face {
    font-family: "San Francisco Display Medium";
    src: url("../fonts/sanfranciscodisplay-medium.woff");
}

@font-face {
    font-family: "San Francisco Display Regular";
    src: url("../fonts/sanfranciscodisplay-regular.woff");
}

@font-face {
    font-family: "San Francisco Display Semibold";
    src: url("../fonts/sanfranciscodisplay-semibold.woff");
}

@font-face {
    font-family: "San Francisco Display Thin";
    src: url("../fonts/sanfranciscodisplay-thin.woff");
}

@font-face {
    font-family: "San Francisco Display Ultralight";
    src: url("../fonts/sanfranciscodisplay-ultralight.woff");
}


.eoko-text-thin{
    font-family: "San Francisco Display", sans-serif;
    font-weight: 200;
    color: #FFFFFF;
}

.eoko-text-ultralight {
    font-family: "San Francisco Display", sans-serif;
    font-weight: 100;
    color: #FFFFFF;
}


/*-------------------------------------------*/
/*
* Page Setup
*
*/
body {
    background-image: url(../img/main_background.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div {
    border-radius: 5px;
}

html {
    color: white;
}

td, th {
    text-align: left;
    padding: 33px;
}

h1 {
    text-align: center;
    font-size: 35px;
}

img {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

p {
    text-align: center;
    margin-bottom: 0.3em;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.eoko-login-options {
    display: inline-block;
    width: 50%;
    padding-top: 15px;
    text-align: left;
    vertical-align: top;
}

::-webkit-input-placeholder { /* WebKit browsers */
    font-family: "San Francisco Display Thin", serif;
    color: white;
    opacity: 1 !important;
}

.eoko-login-logo{
    margin: 0 auto 30px auto;
    height: 10%;
    width: 30%;
}

.eoko-signup-logo{
    margin: 0 auto 30px auto;
    height: 10%;
    width: 15%;
}




/*-------------------------------------------
 *
 * SIGN UP.HTML
 *
/*------------------------------------------*/

/*-------------------------
        Input Field
 --------------------------*/
input[type=text],
input[type=email],
input[type=tel],
input[type=password],
input[type=time],
input[type=date],
select {
    font-family: "San Francisco Display Thin", serif;
    font-size: 25px;
    letter-spacing: 2.5px;
    color: white;
    width: 50%;
    padding: 17px 40px;
    margin: 10px auto;
    display: inline-block;
    border: none;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.4);
}

.eoko-label-text-field input {
    position: absolute;
    z-index: -1;
    display: none;
}

/*-------------------------
        Check box
 --------------------------*/
.eoko-text-field-checkbox-box {
    position: absolute;
    top: 2px;
    left: 0;
    width: 25px;
    height: 25px;
    background: #e6e6e6;
}

/* Checked state */
.eoko-label-text-field input:checked ~ .eoko-text-field-checkbox-box {
    background: #F57C00;
}

/* Check mark */
.eoko-text-field-checkbox-box:after {
    position: absolute;
    display: none;
    content: '';
}

/* Show check mark */
.eoko-label-text-field input:checked ~ .eoko-text-field-checkbox-box:after {
    display: block;
}

/* Checkbox tick */
.eoko-text-field-checkbox .eoko-text-field-checkbox-box:after {
    top: 2px;
    left: 10px;
    width: 5px;
    height: 15px;
    transform: rotate(45deg);
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
}

/*-------------------------
        Submit button
 --------------------------*/
input[type=submit]:hover {
    background-color: #45a049;
}

/*-------------------------
     Password Checking
 --------------------------*/
.eoko-text-field-matching-password{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: greenyellow;
    border-radius: 30px;
}

.eoko-text-field-not-matching-password{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 30px;
}


/*-------------------------------------------
 *
 * SHARED CLASSES
 *
/*------------------------------------------*/
.eoko-portal-no-user{
    text-align:center;
    font-family: "San Francisco Display", sans-serif;
    font-weight: 200;
    color: #FFFFFF;
}

.eoko-portal-avatar{
    border-radius: 80px;
    width: 110px;
    height: 110px;
    background-size: cover;
    display: inline-block;
    position: absolute;
    margin-left: 10px;
    margin-top: 35px;
}

.eoko-portal-user-name{
    color: white;
    font-size: 27px;
    display: block;
    margin-top: 45%;
    margin-right: 60%;
    text-align: center;
}




/*-------------------------------------------
 *
 * PORTAL.HTML
 *
/*------------------------------------------*/


/*-------------------------
        Navigation
 --------------------------
.eoko-wrapper-portalPage{
    width: 95%;
    margin: 2em auto;
}

.eoko-wrapper-horizontal-nav{
    display: block;
    width: 100%;
}

.eoko-wrapper-vertical-nav{
    margin: 60px 110px auto 30px;
    position: absolute;
}

.eoko-wrapper-horizontal-nav .logo{
    float: left;
    height: 15em;
    width: 15em;
    margin: auto 90px 40px auto;
}

.eoko-horizontal-nav a{
    text-align: center;
    margin-right: 100px;
    margin-top: 89px;
    font-family: "San Francisco Display Thin", sans-serif;
    font-size: 2.5em;  30px/16px=2.5em
    display: inline-block;
    padding: 10px 14px;
    text-decoration: none;
}

.eoko-vertical-nav a{
    float: left;
    font-family: "San Francisco Display Thin", sans-serif;
    font-size: 2.5em;  30px/16px=2.5em
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 10px 14px;
    text-decoration: none;
}

nav a:hover{
    background-color: rgba(245,124,0,0.7);
    border-radius: 25px;
}

.eoko-nav-selected{
    background-color: rgba(245,124,0,0.7);
    border-radius: 25px;
}


.eoko-portal-content-wrapper {
    position: absolute;
    margin-top: 50px;
    margin-left: 280px;
    height: 600px;
    width: 1263px;
    min-width: 1263px;
    overflow-y: auto;
} */


/*-------------------------
      Residents Tab
 --------------------------
.eoko-resident-user-wrapper{
    border-radius: 33px;
    display: inline-block;
    width: -moz-min-content;
    min-width: 320px;
    position: relative;
}

.eoko-resident-user-info {
	color: white;
	display: inline;
	font-size: 27px;
	margin-left: 25%;
	padding-right: 24%;
}

.eoko-resident-popup {
	background-color: #F57C00;
	text-align: center;
	border-radius: 14px;
	position: absolute;
	bottom: -20%;
	margin-right: 51%;
	margin-left: 11.5%;
	margin-bottom: 10%;
	height: 78%;
}

.eoko-resident-popup-button:hover{
	color: white;
	background-color: rgba(0,0,0,0.4);
	border: 2px solid rgba(255,255,255);
	margin: 28px 38px;
}

.eoko-resident-popup-button {
	color: #FFFFFF;
	border: none;
	border-radius: 20px;
	padding: 10px 30px;
	font-size: 20px;
	float: right;
	margin: 30px 40px;
} */

/*-------------------------
      Approve Tab
 --------------------------
.eoko-approve-user-wrapper{
    border: 2px solid rgba(255,255,255,0.6);
    border-radius: 33px;
    margin: 0 33px 33px 33px;
    display: block;
    width: -moz-min-content;
    min-width: 378px;
    height: 165px;
    position: relative;
}

.eoko-approve-user-info{
    position: relative;
    color: white;
    display: block;
    font-size: 20px;
    float: left;
    margin: 0 100px auto 133px;
}

.eoko-approve-options-wrapper {
    width: 260px;
    display: inline-flex;
    position: absolute;
    float: right;
    margin-left: 362px;
    margin-top: 43px;
}

.eoko-approve-button-deny{
    background-color: transparent;
    color: #F57C00;
    border: 2px solid #F57C00;
    border-radius: 20px;
    padding: 6px 30px;
    font-size: 20px;
    float: right;
    margin: 0 5px;
}

.eoko-approve-button-deny:hover{
    color: white;
    border: 2px solid #FFFFFF;
}

.eoko-approve-button-approve{
    background-color: #F57C00;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 20px;
    float: right;
    margin: 0 5px;
}

.eoko-approve-button-approve:hover{
    font-style: italic;
}
 */

/*-------------------------
      Ranking Tab
 --------------------------
.eoko-ranking-user-wrapper{
    border: 2px solid rgba(255,255,255,0.4);
    border-radius: 33px;
    margin: 0 33px 33px 33px;
    margin: 0 auto 15px auto;
    display: block;
    width: 428px;
    height: 210px;
    position: relative;
}

.eoko-ranking-number{
    position: relative;
    font-size: 60px;
    display: inline-block;
    float: left;
    margin-left: 150px;
    margin-right: 0;
}

.eoko-ranking-user-points{
    font-size: 35px;
    margin: 0 0 0 133px;
    display: inline;
    color: #F57C00;
}

.eoko-ranking-user-info{
    position: relative;
    color: white;
    display: block;
    font-size: 20px;
    float: left;
    margin: 0 100px auto 133px;
}
*/

/*-------------------------
      Events Tab
 --------------------------

.eoko-events-info-wrapper{

}

.eoko-events-label-wrapper{
    float: left;
    min-width: 140px;
    margin-right: 40px;
    width: -moz-min-content;
}

.eoko-events-input-wrapper{
    float: left;
    min-width: 300px;
    margin-right: 40px;
    width: -moz-min-content;
}

.eoko-events-desc-wrapper{
    float: left;
    min-width: 200px;
    width: -moz-min-content;
}

.eoko-events-type-checkbox-wrapper{
    margin-bottom: 20px;
}

.eoko-events-label{
    float: right;
    font-family: "San Francisco Display Medium", serif;
    font-size: 30px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 27px;
}

.eoko-events-type-label{
    font-family: "San Francisco Display Thin", serif;
    font-size: 30px;
    position: relative;
    display: inline-block;
    padding-left: 40px;
    padding-right: 20px;
    cursor: pointer;
}

.eoko-events-desc-label{
    float: left;
    margin-bottom: 10px;
    margin-top: 30px;
    font-family: "San Francisco Display Medium", serif;
    font-size: 30px;
    position: relative;
    display: inline-block;
    cursor: pointer;
} */

/*for check box
.eoko-events-type-label input{
    position: absolute;
    z-index: -1;
    display: none;
}

.eoko-events-type-label-checkbox-box {
    position: absolute;
    top: 2px;
    left: 0;
    width: 35px;
    height: 35px;
    background: transparent;
    border: 1px solid white;
} */

/* Checked state */
.eoko-events-type-label input:checked ~ .eoko-events-type-label-checkbox-box {
    background: #F57C00;
}

/* Check mark */
.eoko-events-type-label-checkbox-box:after {
    position: absolute;
    display: none;
    content: '';
}

/* Show check mark */
.eoko-events-type-label input:checked ~ .eoko-events-type-label-checkbox-box:after {
    display: block;
}

/* Checkbox tick */
.eoko-events-type-label-checkbox .eoko-events-type-label-checkbox-box:after {
    top: 1px;
    left: 10px;
    width: 15px;
    height: 25px;
    transform: rotate(45deg);
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
}

.eoko-text-area {
    padding: 10px;
    border-radius: 20px;
    border: transparent;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    height: 300px;
    resize: none;
    font-size: 20px;
    margin-bottom: 40px;
}


/*category scroll*/
.eoko-horizontal-scroll {
    overflow-x: auto;
    white-space: nowrap;
    margin: 40px 0 20px 0;
}

.eoko-horizontal-scroll-button{
    background: transparent;
    border: 1px solid #F57C00;
    border-radius: 25px;
    width: 120px;
    padding: 8px;
    margin-left: 1px;
    margin-right: 1px;
    font-size: 20px;
    color: #F57C00;
}

.eoko-horizontal-scroll-button-selected{
    border: 1px solid #F57C00;
    background: #F57C00;
    border-radius: 25px;
    margin-left: 1px;
    margin-right: 1px;
    width: 120px;
    padding: 8px;
    font-size: 20px;
    color: white;
}



/*-------------------------
      Surveys Tab
 --------------------------*/

/*Note: most of the classes are reused from EVENTS TAB*/

.eoko-surveys-label-wrapper{
    float: left;
    width: 200px;
    margin-right: 40px;
}

.eoko-surveys-input-wrapper{
    float: left;
    width: 500px;
    margin-right: 40px;
}

.eoko-surveys-questions-wrapper{
    float: left;
    width: 100%;
}

.eoko-surveys-label{
    float: left;
    font-family: "San Francisco Display Medium", serif;
    font-size: 35px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-right: 25px;
}

.eoko-surveys-add-button{
    width: 25%;
}

.eoko-surveys-remove-button{
    float: right;
    margin-right: 15px;
    width: 2%;
}

.eoko-surveys-remove-button .cls-1{
    fill: #000;
    opacity: 0.5;
}

.answerHolder {
    /*position: relative;*/
    left: 85%;
    display: inline;
}



/*-------------------------------------------*/
/*
* Label
*
*/
.eoko-label-text-field {
    font-family: "San Francisco Display Ultralight", serif;
    font-size: 20px;
    position: relative;
    display: inline-block;
    padding-left: 30px;
    cursor: pointer;
}

.eoko-label-header-2-selected{
    font-family: "San Francisco Display Ultralight", serif;
    font-size: 30px;
    position: relative;
    display: inline-block;
    padding-left: 30px;
    cursor: pointer;
    opacity: 1;
}

.eoko-label-header-2-not-selected{
    font-family: "San Francisco Display Ultralight", serif;
    font-size: 30px;
    position: relative;
    display: inline-block;
    padding-left: 30px;
    cursor: pointer;
    opacity: 0.2;
}










/*-------------------------------------------*/
/*
* Buttons
*
*/

.eoko-button-log-in{
    font-family: "San Francisco Display Thin", serif;
    letter-spacing: 2.5px;
    font-size: 26px;
    color: white;
    width: 50%;
    padding: 17px 40px;
    margin: 10px auto;
    display: inline-block;
    border: none;
    border-radius: 25px;
    background-color: #F57C00;
}

.eoko-button-text{
    font-family: "San Francisco Display Ultralight", serif;
    font-size: 20px;
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: white;
    padding-top: 1px;
}

.eoko-button-text:hover{
    opacity: 0.6;
}

.eoko-button-nav-active{
    font-family: "San Francisco Display Thin", serif;
    font-size: 30px;
    position: relative;
    display: inline-block;
    padding-left: 60px;
    color: white;
    cursor: pointer;
    margin-right: 50px;
    border-color: transparent;
    background: none;
    box-shadow: none;
}

.eoko-button-nav-nonactive{
    font-family: "San Francisco Display Thin", serif;
    font-size: 30px;
    position: relative;
    display: inline-block;
    padding-left: 60px;
    color: white;
    cursor: pointer;
    margin-right: 50px;
    opacity: 0.4;
    border-color: transparent;
    background: none;
    box-shadow: none;
}

.eoko-button-sign-up-next{
    font-family: "San Francisco Display Thin", serif;
    letter-spacing: 2.5px;
    font-size: 26px;
    color: white;
    width: 20%;
    padding: 17px 40px;
    margin: 10px 60px;
    display: inline-block;
    border: none;
    border-radius: 50px;
    background-color: #F57C00;
}


.button {
    display: block;
    border-radius: 50px;
    background-color: #F57C00;
    border: none;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 auto;
    color: white;
}

.button:disabled {
    color: grey;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: white;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}



/*-------------------------------------------*/
/*
* Pop up
*
*/
.eoko-popup-error-message {
    font-family: "San Francisco Display Ultralight", serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
    color: white;
    width: 40%;
    padding: 17px 40px;
    margin: 10px auto;
    border: none;
    border-radius: 25px;
    background-color: rgba(255,34,36,0.5);
}



/*-------------------------------------------*/
/*
* Elements
*
*/
.eoko-element-signup-phase-active{
    font-family: "San Francisco Display Thin", serif;
    text-align: center;
    position: absolute;
    top: 2px;
    left: 0;
    width: 50px;
    height: 50px;
    background: #F57C00;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.eoko-element-signup-phase-nonactive{
    font-family: "San Francisco Display Thin", serif;
    text-align: center;
    position: absolute;
    top: 2px;
    left: 0;
    width: 50px;
    height: 50px;
    background: #9E9E9E;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}



.center,
img.center {
    text-align: center;
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#centered {
    width: 800px;
    height: 280px;
    position: relative;
    top: 0%;
    margin: 0 auto;
}



.appendTitle {
    position: relative;
    display: inline;
    bottom: 73px;
    float: right;
    right: 150px;
    font-size: large;
}

.inputfield {
    margin-left: 0 10%;
}

/*ripped from eoko.app.css*/

.item-thumbnail-left,
.item-thumbnail-left .item-content {
    padding-top: 8px;
    padding-left: 106px;
    min-height: 100px;
}

.item-thumbnail-left > img:first-child,
.item-thumbnail-left .item-image,
.item-thumbnail-left .item-content > img:first-child,
.item-thumbnail-left .item-content .item-image {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;
}

.item-avatar.item-complex,
.item-avatar-left.item-complex,
.item-thumbnail-left.item-complex {
    padding-top: 0;
    padding-left: 0;
}

.eoko-text-regular, .eoko-button-text-selected{
    font-family: "San Francisco Display", sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}



/*-------SORRY BAO!! :D-----------*/

.linkIcon{
    width: 300px;
    display: inline-block;
    opacity: 0.71;
    border-radius: 33px;
    text-decoration: blink;
    text-align: center;
    font-size: 20px;
    line-height: 4em;
    background-color: #f57c00;
    margin: 16px;
}

.linkIcon:hover{
    opacity: 1;
    box-shadow:0px 0px 33px #f57c00;
}


.fixLeft{
    margin-left:20%;
}
