@import url('https://fonts.googleapis.com/css?family=Cinzel|Domine|Gentium+Basic');

*:focus {
    outline: none;
}

/* -------------------------------- STYLING FOR HOME PAGE ----------------------------------------- */
i{
  padding-right: 10px;
}

/* STYLING FOR THE QUOTE SECTION */
#HomeA{
  background-color: rgba(0,0,0,0.8);
  width: 50%;
  height: 100%;
  position: absolute;
  padding: 100px;
  overflow: auto; 
}

#HomeA p{
  color: white;
  font-family: 'Domine', serif;
  margin-top: -20px;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 20px;
}

#HomeA h2{
  color: #DC7633;
  font-family: 'Domine', serif;
  text-align: right;
}

#HomeA img{
  width: 100px;
  display: block;
  margin: auto;
}

/* STYLING FOR THE ANDROID / IPHONE SECTION*/
#HomeA1{
  margin-top: 50px;
  display: flex;
  width: 100%;
}

#HomeA1 a{
  background: none;
  border: none;
  border: 1px white solid;
  color: white;
  font-family: 'Domine', serif;
  width: 50%;
  padding: 2%;
  margin-right: 20px;
  border-radius: 5px;
  text-decoration: blink;
  font-size: 13px;
}

#HomeA1 a:hover{
  background: white;
  color: black;
  cursor: pointer;
}


/* STYLING FOR THE LOGIN AND SIGNUP BUTTON */
#HomeB{
  width: 50%;
  height: 100%;
  margin: 0 auto;
}

#HomeB hr, #FA hr{
  width: 70%;
  display: block;
  margin: auto;
}

#HomeB img{
  width: 300px;
  display: block;
  margin: auto;
  margin-top: 50px;
}

#HomeB1A{
  width: 70%;
  display: block;
  margin: auto;
}

#HomeB button{
  background-color: rgba(0,0,0,0.7);
  border: none;
  color: white;
  font-family: 'Domine', serif;
  /*font-size: 18px;*/
  padding: 1%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  border: rgba(0,0,0,0.3) 1px solid;
  width: 49%;
}

#HomeB button:hover{
  background: none;
  cursor: pointer;
  color: rgba(0,0,0,0.3);
}

#HomeB1{
  margin-top: 50px;
}

#HomeB1 input, #FA input{
  width: 70%;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  font-family: 'Domine', serif;
  color: #797D7F;
  padding: 1%;
  border: none;
  border: 1px #D7DBDD solid;

}

#HomeB1 p{
  color: #797D7F;
  font-family: 'Domine', serif;
  text-align: center;
}

#HomeB1 a{
  color: #DC7633;
  text-decoration: none;
  font-size: 18px;
}


/* --------------- STYLING FOR SIGNUP PAGE ----------------------  */

#S hr{
  width: 80%;
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

#S img{
  width: 200px;
  display: block;
  margin: auto;
  margin-top: 50px;
}

/* STYLING FOR THE NAVIGATION BAR */
#S1{
  display: block;
  margin: auto;
  width: 70%;
  font-family: 'Domine', serif;
}

#error{
  color: #DC7633;
  font-family: 'Domine', serif;
  font-size: 13px;
  font-style: italic;
  padding-left: 50px;
}

/* ---- THIS PART STYLE COMPANY INFORMATION ---- */
#S1 button{
  width: 270px;
  margin-right: 20px;
  margin-top: 20px;
  background-color: rgba(0,0,0,0.7);
  border: none;
  color: white;
  font-family: 'Domine', serif;
  font-size: 17px;
  padding: 1%;
  text-transform: uppercase;

}

#S1 button:hover{
  background: white;
  border: #797D7F 1px solid;
  color: #797D7F;
  cursor: pointer;
}

/* STYLING FOR THE INPUT FIELD FORM */
#S2, #S3, #S4{
  display: block;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  font-family: 'Domine', serif;
  font-size: 15px;
  color: #797D7F;
}

#S2 label, #S3 label{
  display: inline-block;
  width: 140px;
}

#S2 button, #CON2btn{
  background: rgba(0,0,0,0.7);
  border: none;
  color: white;
  padding: 1%;
  float: right;
  border-radius: 3px;
  margin-bottom: 50px;
}

#S2 button:hover, #CON2btn:hover, #FA button:hover{
  background: transparent;
  color: #797D7F;
  border: 0.1px solid #797D7F;
}


#S2 i, #S3 i{
  margin-left: 10px;
}

#S2 input, #S2A input, #S3 input, #S4 input{
  display: inline-block;
  margin-bottom: 15px;
  width: 65%;
  color: #797D7F;
  border-style:solid;
  border: none;
  border-bottom: 0.1px #A6ACAF solid;
  margin-right: 30px;
}

#S2A input, #S3A input, #S3C input, #S4 input{
  width: 40%;
}


/* ---- THIS PART STYLE THE PRIMARY / SECONDARY CONTACT INPUT ---- */
#S3 h2{
  font-family: 'Domine', sans-serif;
  color: #454545;
  display: inline-block;
  margin-right: 100px;
  margin-left: 100px;
  font-size: 20px;
}

#S3 button, #CON3btn{
  background: rgba(0,0,0,0.7);
  border: none;
  color: white;
  padding: 1%;
  float: right;
  border-radius: 3px;
  margin-bottom: 50px;
}

#CON1btn{
  background: rgba(0,0,0,0.7);
  border: none;
  color: white;
  border-radius: 3px;
  position: absolute;
  margin-bottom: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}


/* ---- THIS PART STYLE THE COMPANY ACCOUNT---- */
#S4 button{
  background: rgba(0,0,0,0.7);
  border: none;
  color: white;
  border-radius: 3px;
  padding: 1%;
  width: 120px;
}

#S4 label{
  display: inline-block;
  width: 150px;
}

/* ------- STYLING FOR THE FORGOT PASSWORD PAGE ---- */
#FA img{
  width: 300px;
  display: block;
  margin: auto;
}


#FA h1{
  font-family: 'Domine', sans-serif;
  color: #797D7F;
  text-align: center;
  margin-top: 30px;
}

#FA p{
  font-family: 'Domine', sans-serif;
  color: #797D7F;
  text-align: center;
}

#FA input{
  width: 40%;
}

#FA button{
  background: rgba(0,0,0,0.7);
  border: none;
  color: white;
  border-radius: 3px;
  padding: 1%;
  font-family: 'Domine', sans-serif;
  display: block;
  margin: auto;
  width: 40%;
}

#FA a{
  color: #DC7633;
  text-decoration: none;
  font-size: 20px;
}

#FA a:hover, #HomeB a:hover{
  font-size: 25px;
}

.commandHeader{
 text-align:  center;
 padding: 0;
 margin-top: -30px;
 margin-left: 300px;
}