<div style="height:100vh;width:100%">
    <div id="centered">

        <img src="img/logo.png" style="height:90%;">
        <div ng-if="thankyou == false">
            <p>Eoko is currently in active Beta, and we very much appreciate you helping us grow this service with your
                feedback. Please feel free to mention anything, and of course, the more descriptive the better!</p>
            <br>
            <textarea placeholder="Description" ng-model="user.description" class="eoko-text-area eoko-text-input-form"
                      autofocus style="margin-left:7%;"></textarea>

            <button class="button" ng-click="submitFeeback()"
                    style="vertical-align:middle;position: absolute;left: 38%;margin-top: 33px;"><span>Submit</span>
            </button>
        </div>
        <div ng-if="thankyou == true">
            <p>Thank you for your feedback! Redirecting...</p>
        </div>
    </div>
</div>